<mat-table [dataSource]="matters">
        <!-- Matter Column -->
        <ng-container matColumnDef="matter">
          <mat-header-cell *matHeaderCellDef>Matter</mat-header-cell>
          <mat-cell *matCellDef="let matter">{{ matter.matter }}</mat-cell>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
          <mat-cell *matCellDef="let matter">{{ matter.author }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-column-header">
            <button mat-mini-fab color="primary" aria-label="Add matter" (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let matter" class="action-column">
            <button mat-mini-fab color="accent" aria-label="Vote in matter" (click)="onEdit(matter)">
              <mat-icon>edit</mat-icon>
            </button> &nbsp;

            <button mat-mini-fab color="warn" aria-label="Delete matter">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
